#birthLabel {
    padding-right: 10px;
}

#birthDayForm {
    padding-left: -15px;
}

#submitDiv {
    float: right;
    margin-bottom: 15px;
}

.alert {
    width: auto;
}

#closeAlert {
    margin-top: -2px;
}

#datetimepicker1 {
    padding-top: 5px;
}

#birthLabel, #nameInput {
    padding-top: 12px;
}

#submitBtn {
    margin-top: 38px;
    padding: 20px;
    font-size: 24px;
    box-shadow: 3px 3px 10px #aaa;
    border: none;
    color: white;
    background-color: #2196F3;
    transition: all 500ms ease;
}
#submitBtn:hover {
    transition: all 700ms ease;
    box-shadow: 5px 15px 30px #aaa;
    border: none;
    color: white;
}

#genderBtns {
    margin-left: 2px;
}

#genderLabel {
    margin-left: -20px;
}

#nameOk, #nameError {
    margin-right: 15px;
    margin-top: 11px;
}

#newPerson {
    background-color: #ddd;
    border: none;
    box-shadow: 5px 15px 30px #aaa;
}
 hr {
    border: 0;
    border-top: 1px solid #000000;
 }
