* {
  font-family: "Open Sans", Tahoma, serif; }

button {
  color: #F44336; }

.disabled {
  background-color: rgba(0, 0, 0, 0.3); }

body {
  padding-top: 56px;
  overflow: auto; }

.main-content {
  overflow-x: hidden;
  padding-top: 40px;
  position: relative;
  z-index: 0; }

.fab-main,
.fab-holder {
  z-index: 5; }

#icn-main, #icn-1, #icn-2, #icn-last {
  color: white;
  font-size: 36px; }

article {
  padding: 20px;
  padding-top: 5px; }

#fab {
  cursor: pointer;
  width: 56px;
  height: 56px;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 5;
  background-color: #F44336;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }

#fab.closed > i {
  animation-name: rotate-a;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }

@keyframes rotate-x {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(135deg); } }
@keyframes rotate-a {
  0% {
    transform: rotateZ(135deg); }
  100% {
    transform: rotateZ(0deg); } }
#fab:focus {
  cursor: pointer;
  transition: all 500ms ease-in-out;
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.4); }

/*#fab:click
 * cursor: pointer
 * transition: all 500ms ease
 * box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.4) */
#fab.open {
  transition: all 500ms ease-in-out;
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.4); }

#fab.open > :first-child {
  animation-name: rotate-x;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }

#fab-1, #fab-2, #fab-3 {
  width: 46px;
  height: 46px;
  position: fixed;
  right: 16px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #2196F3;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  transition-delay: 0s;
  z-index: 5;
  opacity: 0; }
  #fab-1.closed, .closed#fab-2, .closed#fab-3 {
    transition: all 200ms ease-in-out;
    transition-delay: 0.1s;
    bottom: 10px; }
  #fab-1 > :first-child, #fab-2 > :first-child, #fab-3 > :first-child {
    padding: 11px;
    font-size: 24px; }
  #fab-1.open, .open#fab-2, .open#fab-3 {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    width: 46px;
    height: 46px;
    bottom: 85px;
    opacity: 1;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3); }

#fab-2, #fab-3 {
  background-color: #43A047;
  bottom: 10px;
  transition-delay: 0.05s; }
  #fab-2.closed, .closed#fab-3 {
    bottom: 10px;
    transition-delay: 0.05s; }
  #fab-2.open, .open#fab-3 {
    bottom: 150px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3); }

#fab-3 {
  bottom: 10px;
  background-color: #AB47BC;
  transition-delay: 0.1s; }
  #fab-3.closed {
    transition-delay: 0s;
    bottom: 10px; }
  #fab-3.open {
    bottom: 215px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3); }

#lbl-1, #lbl-2, #lbl-3 {
  position: fixed;
  right: 0px;
  bottom: 10px;
  opacity: 0;
  color: black;
  font-size: 14px;
  font-weight: normal;
  transition: all 200ms ease-in-out;
  transition-delay: 0s;
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.6);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  z-index: 5;
  padding: 4px; }
  #lbl-1.closed, .closed#lbl-2, .closed#lbl-3 {
    transition-delay: 0.1s; }
  #lbl-1.open, .open#lbl-2, .open#lbl-3 {
    opacity: 1;
    right: 80px;
    bottom: 90px; }

#lbl-2, #lbl-3 {
  transition-delay: 0.05s; }
  #lbl-2.closed, .closed#lbl-3 {
    transition-delay: 0.05s; }
  #lbl-2.open, .open#lbl-3 {
    bottom: 155px; }

#lbl-3 {
  transition-delay: 0.1s; }
  #lbl-3.closed {
    transition-delay: 0s; }
  #lbl-3.open {
    bottom: 220px;
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.6); }

#overlay.open, .open#overlay-fab {
  transition: all 500ms ease-in-out;
  position: fixed;
  right: 10px;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: -20px;
  z-index: 6; }
  body #overlay.open, body .open#overlay-fab {
    overflow: hidden; }

#overlay.closed, .closed#overlay-fab.open {
  transition: all 500ms ease-in-out; }

#overlay:clicked, #overlay-fab.open:clicked {
  transition: all 500ms ease-in-out; }

#overlay-fab.open {
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.82);
  margin-right: -10px;
  transition: all 500ms ease-in-out; }

.navbar {
  border-radius: 0px;
  background-color: #F44336;
  z-index: 1; }

#menu-btn i {
  color: white;
  font-size: 45px;
  padding-top: 5px; }
  #menu-btn i:hover {
    cursor: pointer; }

#name {
  font-size: 30px;
  color: white;
  height: 100%; }
  @media screen and (max-width: 480px) {
    #name {
      display: none; } }

#side-nav {
  margin-left: -250px;
  display: block;
  height: 100%;
  width: 200px;
  background-color: white;
  position: fixed;
  z-index: 10;
  transition: all 500ms ease-in-out; }
  #side-nav.open {
    transition: all 500ms ease-in-out;
    margin-left: 0px; }
  #side-nav > ul > li {
    color: black;
    list-style-type: none; }

/*# sourceMappingURL=stylesheet.css.map */
