
* {
    font-family: 'Open Sans', Tahoma, serif;
}

body {

}
header {
    background-color: #F44336;
    width: 110%;
}

#info, #contact{
    float: right;
    color: white;
}

#nav {
    list-style-type: none;
}

#nav-btn {
    float: left;
    color: white;
    cursor: pointer;
    padding-left: 0px;
}

#nav-btn:hover {
    color: #FFCDD2;
}

#name {
    font-size: 24px;
    color: white;
}

article {
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

#fab {
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #F44336;
    transition: all 500ms ease;
}
#fab.closed > i {
    animation-name: rotate-a;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes rotate-x {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(135deg); }
}

@keyframes rotate-a {
    from { transform: rotateZ(135deg); }
    to { transform: rotateZ(0deg); }
}

#fab:hover {
    cursor: pointer;
    transition: all 500ms ease;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

#fab.open {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}
#fab.open > i {
    animation-name: rotate-x;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#add {
    color: white;
    font-size: 36px;
}

@media screen and (max-width: 800px) {
    #contact {
        display: none;
    }
}
