.navbar
    border-radius: 0px
    background-color: $primary
    z-index: $lowest + 2
    animation: $fade-in
    box-shadow: 0px 3px 15px 5px $shadow

#menu-btn
    color: white
    font-size: 45px
    float: left

    &:hover
        cursor: pointer

#name
    font-size: 30px
    margin-left: -50px
    color: white

    @media screen and (max-width: 480px)
        display: none

#side-nav
    margin-left: -250px
    display: block
    height: 100%
    width: 200px
    background-color: white
    position: fixed
    top: 0px
    z-index: $highest
    transition: $standard-transition
    padding: 0px
    box-shadow: 3px 0px 30px 4px $shadow

    &.open
        transition: $standard-transition
        margin-left: 0px

.side-nav-icon:hover
    color: white

.side-nav-icon
    font-size: 18px
    padding-right: 10px
    transform: translateY(2px)

.side-nav-header-icon
    color: white
    font-size: 45px

.side-nav-item
    padding: 10px
    font-size: 14px
    float: right

    &:hover
        cursor: pointer
        background: $shadow
        color: white

.side-nav-item-lower
    @extend .side-nav-item


#side-nav-header
    background-color: $secondary
    box-shadow: 0px 3px 10px 0px $shadow
    z-index: $highest

    &:hover
        cursor: pointer
