// Main colors of site
$primary: #039be5
$secondary: #e51603

// Fab colors & order
$first: #2196F3
$second: #43A047
$third: #AB47BC

// CSS standard function sets
$standard-transition: all 325ms ease-in-out
$fast-transition: all 150ms ease-in-out
$shadow: rgba(0, 0, 0, 0.3)

// Z-Index properties
$lowest: 0
$middle: 5
$highest: 10

// Animation names
$fade-in: fade-in 600ms ease-in-out 0s 1 normal forwards running

@keyframes fade-in
    0%
        transform: translateY(-50px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1w

*
    font-family: Arial, Tahoma, serif

.hr
    background-color: $shadow
    box-shadow: 0px 0px 1px $shadow
    padding: 0.5px
    margin-top: 10px
    margin-bottom: 10px
    width: 85%
    margin-left: auto
    margin-right: auto

.disabled
    background-color: $shadow

.active
    color: white
    background-color: #424242

    & > a , i
        color: white

a:link
    text-decoration: none
    color: inherit

a:visited
    color: inherit

a:hover
    text-decoration: none
    color: inherit

a:active
    color: inherit

.container-fluid
    padding: 0px

footer
    background-color: black
    padding: 5px 20px
    color: white
