#photo-desc
    font-size: 20px
    padding: 10px
    box-shadow: 0px 5px 20px $shadow
    margin-top: 10px

    & > p
        text-align: center

#profile-photo
    height: 300px
    border: 0px solid rgba(255, 255, 255, 0.2)
    border-radius: 50%
    box-shadow: 0px 10px 20px $shadow
    background-color: $second

#info-cards
    width: 100%
    background-color: $shadow
    margin: 0 auto
    margin-top: 20px
    

#football-card > .card-header
    background-image: url('images/football.jpg')
    background-position: center

#family-card > .card-header
    background-image: url('images/my_family.jpg')
    background-position: 50% 40%

#technology-card > .card-header
    background-image: url('https://images-goldenfrog.netdna-ssl.com/vyprvpn/mac/banner_mac.png')
    background-color: rgba(15, 50, 70, 0.6)
    background-position: center
    background-size: 90%
    background-repeat: no-repeat
